In [1]:
import pandas as pd
import numpy as np

Para realizar este pair programming deberéis usar el conjunto de datos de world-data-2023-part1.csv.

# Ejercicios de exploración del conjunto de datos

Muestra las primeras 5 filas del conjunto de datos.

In [2]:
df_world = pd.read_csv('world-data-2023_part1.csv', index_col=0)

In [4]:
df_world.head(5)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97

2. Muestra las últimas 5 filas del conjunto de datos.

In [5]:
df_world.tail(5)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34

3. Muestra una muestra aleatoria de 5 filas del conjunto de datos.

In [6]:
df_world.sample(5)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
155,Sierra Leone,111,SL,54.70%,"71,740","9,000",33.41,232.0,Freetown,"1,093",234.16,14.80%,SLL,4.26,43.10%,$1.08
5,Antigua and Barbuda,223,AG,20.50%,443,0,15.33,1.0,"St. John's, Saint John",557,113.81,1.20%,XCD,1.99,22.30%,$0.99
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92
166,Sudan,25,SD,28.70%,"1,861,484","124,000",32.18,249.0,Khartoum,"20,000","1,344.19",51.00%,SDG,4.41,8.10%,$0.95
52,El Salvador,313,SV,76.40%,"21,041","42,000",18.25,503.0,San Salvador,"7,169",111.23,0.10%,NaN,2.04,12.60%,$0.83

4. Muestra el número total de filas y columnas en el conjunto de datos.

In [8]:
df_world.shape

(195, 16)

5. Muestra el nombre de todas las columnas en el conjunto de datos.

In [9]:
df_world.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price'],
      dtype='object')

6. Muestra los valores únicos en la columna "Abbreviation".

In [14]:
df_world['Abbreviation'].unique

<bound method Series.unique of 0      AF
1      AL
2      DZ
3      AD
4      AO
       ..
190    VE
191    VN
192    YE
193    ZM
194    ZW
Name: Abbreviation, Length: 195, dtype: object>

7. Cuenta cuántas veces aparece cada valor único en la columna "Abbreviation".

In [17]:
df_world['Abbreviation'].value_counts()

188

In [18]:
df_world['Abbreviation'].isnull().sum()

7

8. Verifica si hay valores nulos en el conjunto de datos.

In [20]:
df_world.isnull().sum()

Country                   0
Density\n(P/Km2)          0
Abbreviation              7
Agricultural Land( %)     7
Land Area(Km2)            1
Armed Forces size        24
Birth Rate                6
Calling Code              1
Capital/Major City        3
Co2-Emissions             7
CPI                      17
CPI Change (%)           16
Currency-Code            15
Fertility Rate            7
Forested Area (%)         7
Gasoline Price           20
dtype: int64

9. Verifica si hay valores no nulos en el conjunto de datos.

In [21]:
df_world.notnull().sum()

Country                  195
Density\n(P/Km2)         195
Abbreviation             188
Agricultural Land( %)    188
Land Area(Km2)           194
Armed Forces size        171
Birth Rate               189
Calling Code             194
Capital/Major City       192
Co2-Emissions            188
CPI                      178
CPI Change (%)           179
Currency-Code            180
Fertility Rate           188
Forested Area (%)        188
Gasoline Price           175
dtype: int64

10. Muestra información general sobre el conjunto de datos.

In [22]:
df_world.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 0 to 194
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                195 non-null    object
 1   Density
(P/Km2)        195 non-null    object
 2   Abbreviation           188 non-null    object
 3   Agricultural Land( %)  188 non-null    object
 4   Land Area(Km2)         194 non-null    object
 5   Armed Forces size      171 non-null    object
 6   Birth Rate             189 non-null    float64
 7   Calling Code           194 non-null    float64
 8   Capital/Major City     192 non-null    object
 9   Co2-Emissions          188 non-null    object
 10  CPI                    178 non-null    object
 11  CPI Change (%)         179 non-null    object
 12  Currency-Code          180 non-null    object
 13  Fertility Rate         188 non-null    float64
 14  Forested Area (%)      188 non-null    object
 15  Gasoline Price         175 non-null    object
dtypes: float64(3), object(13)
memory usage: 25.9+ KB

11. Elimina una columna específica (por ejemplo, "Armed Forces size").

In [23]:
df_world.drop('Armed Forces size', axis = 1, inplace = True)

In [24]:
df_world

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00
191,Vietnam,314,VN,39.30%,"331,210",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80
192,Yemen,56,YE,44.60%,"527,968",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92
193,Zambia,25,ZM,32.10%,"752,618",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40
194,Zimbabwe,38,ZW,41.90%,"390,757",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34

12. Selecciona las columnas numéricas del conjunto de datos y muestra sus estadísticas descriptivas básicas (para esto tendréis que usar el método '.describe(), su documentación la tenéis ).

In [28]:
df_world.describe(exclude='object').T

,count,mean,std,min,25%,50%,75%,max
Birth Rate,189.0,20.214974,9.945774,5.90,11.300,17.950,28.7500,46.08
Calling Code,194.0,360.546392,323.236419,1.00,82.500,255.500,506.7500,1876.00
Fertility Rate,188.0,2.698138,1.282267,0.98,1.705,2.245,3.5975,6.91

## Ejercicios con loc e iloc

In [29]:
df_world.head(2)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36

Selecciona todas las columnas de las filas 2 a 4 (inclusive) utilizando loc.

In [31]:
df_world.loc[2:4, :]

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
2,Algeria,18,DZ,17.40%,"2,381,741",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97

Utilizando loc, filtra el conjunto de datos para mostrar solo las filas donde la densidad (columna "Birth Rate") es mayor a 30.

In [32]:
condicion = df_world['Birth Rate'] > 30

In [35]:
df_world[condicion].head(5)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
4,Angola,26,AO,47.50%,"1,246,700",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97
18,Benin,108,BJ,33.30%,"112,622",36.22,229.0,Porto-Novo,"6,476",110.71,-0.90%,XOF,4.84,37.80%,$0.72
26,Burkina Faso,76,BF,44.20%,"274,200",37.93,226.0,Ouagadougou,"3,418",106.58,-3.20%,XOF,5.19,19.30%,$0.98
27,Burundi,463,BI,79.20%,"27,830",39.01,257.0,Bujumbura,495,182.11,-0.70%,BIF,5.41,10.90%,$1.21

Utilizando loc selecciona las columnas "Country" y "Capital/Major City" de las filas donde el porcentaje de tierra agrícola (columna "Fertility Rate") es superior al 3.

In [36]:
condicion_2= df_world['Fertility Rate'] > 3

In [44]:
resultado= df_world.loc[condicion_2, ['Country', 'Capital/Major City','Fertility Rate' ]]

In [46]:
resultado.head(3)

       Country Capital/Major City  Fertility Rate
0  Afghanistan              Kabul            4.47
2      Algeria            Algiers            3.02
4       Angola             Luanda            5.52

Encuentra el valor de "Gasoline Price" para el país cuya abreviatura es "AL" utilizando loc.

In [54]:
condicion_al = df_world['Abbreviation'] == 'AL'

In [57]:
df_world.loc[condicion_al, ['Gasoline Price', 'Abbreviation','Country']]

  Gasoline Price Abbreviation  Country
1         $1.36            AL  Albania

In [104]:
df_world.loc[df_world['Abbreviation'] == 'AL',['Gasoline Price', 'Abbreviation','Country']]

  Gasoline Price Abbreviation  Country
1         $1.36            AL  Albania

Selecciona todas las columnas para el país cuya capital es "Tirana" utilizando loc.

In [58]:
condicion_tirana = df_world['Capital/Major City'] == 'Tirana'

In [59]:
df_tirana= df_world.loc[condicion_tirana, :]

In [60]:
df_tirana

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
1,Albania,105,AL,43.10%,"28,748",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36

Filtra el conjunto de datos para mostrar solo las filas donde el índice de CPI (columna "CPI") sea igual a 128.85.

In [71]:
condicion_cpi = df_world['CPI'] == '128.85'

In [72]:
df_cpi = df_world.loc[condicion_cpi, :]

In [73]:
df_cpi

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
40,Costa Rica,100,CR,34.50%,"51,100",13.97,506.0,San Jos������,"8,023",128.85,2.10%,CRC,1.75,54.60%,$0.98

Encuentra la densidad (columna "Density\n(P/Km2)") para el país cuya abreviatura es "AD" utilizando loc.

In [76]:
df_ad= df_world.loc[df_world['Abbreviation'] == 'AD', 'Density\n(P/Km2)']

In [77]:
df_ad

3    164
Name: Density\n(P/Km2), dtype: object

Selecciona las columnas "Country" y "Co2-Emissions".

In [84]:
df_world[['Country','Co2-Emissions']]

         Country Co2-Emissions
0    Afghanistan         8,672
1        Albania         4,536
2        Algeria       150,006
3        Andorra           469
4         Angola        34,693
..           ...           ...
190    Venezuela       164,175
191      Vietnam       192,668
192        Yemen        10,609
193       Zambia         5,141
194     Zimbabwe        10,983

[195 rows x 2 columns]

Filtra el conjunto de datos para mostrar solo las filas donde el índice de CPI cambió un 2% (columna "CPI Change (%)").
c

In [87]:
df_world.loc[df_world['CPI Change (%)']== '2.00%', :]

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
2,Algeria,18,DZ,17.40%,"2,381,741",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28

Encuentra la tasa de natalidad (columna "Birth Rate") para el país con la abreviatura "AF" utilizando loc.

In [90]:
df_world.loc[df_world['Abbreviation'] == 'AF', 'Birth Rate']

0    32.49
Name: Birth Rate, dtype: float64

Selecciona todas las columnas de las filas 3 a 5 (excluyendo la fila 5) utilizando iloc.

In [91]:
df_world.iloc[3:5, :]

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
3,Andorra,164,AD,40.00%,468,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97

Selecciona las columnas 1, 3 y 6 para todas las filas utilizando iloc.

In [93]:
df_world.iloc[:, [1,3,6]]

    Density\n(P/Km2) Agricultural Land( %)  Calling Code
0                 60                58.10%          93.0
1                105                43.10%         355.0
2                 18                17.40%         213.0
3                164                40.00%         376.0
4                 26                47.50%         244.0
..               ...                   ...           ...
190               32                24.50%          58.0
191              314                39.30%          84.0
192               56                44.60%         967.0
193               25                32.10%         260.0
194               38                41.90%         263.0

[195 rows x 3 columns]

Selecciona todas las filas de las columnas 0 a 4 (excluyendo la columna 4) utilizando iloc.

In [94]:
df_world.iloc[:, 0:4]

         Country Density\n(P/Km2) Abbreviation Agricultural Land( %)
0    Afghanistan               60           AF                58.10%
1        Albania              105           AL                43.10%
2        Algeria               18           DZ                17.40%
3        Andorra              164           AD                40.00%
4         Angola               26           AO                47.50%
..           ...              ...          ...                   ...
190    Venezuela               32           VE                24.50%
191      Vietnam              314           VN                39.30%
192        Yemen               56           YE                44.60%
193       Zambia               25           ZM                32.10%
194     Zimbabwe               38           ZW                41.90%

[195 rows x 4 columns]

Encuentra el valor en la fila 2 y columna 7 utilizando iloc.

In [95]:
df_world.iloc[2,7]

'Algiers'

Selecciona todas las filas para las columnas 0, 2, y 5 utilizando iloc.

In [96]:
df_world.iloc[:, [0,2,5]]

         Country Abbreviation  Birth Rate
0    Afghanistan           AF       32.49
1        Albania           AL       11.78
2        Algeria           DZ       24.28
3        Andorra           AD        7.20
4         Angola           AO       40.73
..           ...          ...         ...
190    Venezuela           VE       17.88
191      Vietnam           VN       16.75
192        Yemen           YE       30.45
193       Zambia           ZM       36.19
194     Zimbabwe           ZW       30.68

[195 rows x 3 columns]

Selecciona las filas 0, 2 y 4 para todas las columnas utilizando iloc.

In [97]:
df_world.iloc[[0,2,4], :]

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
2,Algeria,18,DZ,17.40%,"2,381,741",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
4,Angola,26,AO,47.50%,"1,246,700",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97

Encuentra el valor en la última fila y la última columna utilizando iloc.

In [98]:
df_world.iloc [-1,-1]

'$1.34 '

Selecciona las filas 1 a 3 (inclusive) para todas las columnas utilizando iloc.

In [100]:
df_world.iloc[1:4, :]

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
1,Albania,105,AL,43.10%,"28,748",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51

Selecciona todas las filas para las columnas 1, 4 y 6 utilizando iloc.

In [101]:
df_world.iloc[:, [1,4,6]]

    Density\n(P/Km2) Land Area(Km2)  Calling Code
0                 60        652,230          93.0
1                105         28,748         355.0
2                 18      2,381,741         213.0
3                164            468         376.0
4                 26      1,246,700         244.0
..               ...            ...           ...
190               32        912,050          58.0
191              314        331,210          84.0
192               56        527,968         967.0
193               25        752,618         260.0
194               38        390,757         263.0

[195 rows x 3 columns]

Encuentra el valor en la fila 4 y columna 2 utilizando iloc.

In [102]:
df_world.iloc[4,2]

'AO'

In [103]:
df_world.head(6)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97
5,Antigua and Barbuda,223,AG,20.50%,443,15.33,1.0,"St. John's, Saint John",557,113.81,1.20%,XCD,1.99,22.30%,$0.99